    
    <div>
      <h1>About</h1>
      <p>Some page content.</p>

      <h4>Acknowledgements</h4>
      <p>I crafted this templating example with ideas I gleaned from the following excellent articles:</p
        <ul>
          <li><a href='https://www.jamesedwards.name/ejs-render-file'>www.jamesedwards.name/ejs-render-file</a></li>
          <li><a href='https://scotch.io/tutorials/use-ejs-to-template-your-node-application'>scotch.io/tutorials/use-ejs-to-template-your-node-application</a></li>
          <li><a href='https://www.keithcirkel.co.uk/how-to-use-npm-as-a-build-tool/'>https://www.keithcirkel.co.uk/how-to-use-npm-as-a-build-tool/</a></li>

          
        </ul>  
    </div>
